<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <div class="main-app">
        <%- include('../partials/header.ejs') %>

        <div class="container container-wrap-form-create">
            <div class="wrap-form-create-account">
                <h2 class="form-create-heading">CHANGE PASSWORD</h2>
                <form action="/department/change-password?_method=PATCH" method="POST" class="form-change-password">
                    <div class="form-group">
                        <label for="input-current-password" class="form-label">Current password <span class="star-red">*</span></label>
                        <input type="password" class="form-control" id="input-current-password" name="currentPassword" placeholder="Please enter your password...">
                    </div>
                    <div class="form-group">
                        <label for="input-new-password" class="form-label">New password <span class="star-red">*</span></label>
                        <input type="password" class="form-control" id="input-new-password" name="newPassword" placeholder="Please enter new password...">
                    </div>
                    <div class="form-group">
                        <label for="input-confirm-password" class="form-label">Confirm password <span class="star-red">*</span></label>
                        <input type="password" class="form-control" id="input-confirm-password" name="confirmPassword" placeholder="Confirm password...">
                    </div>
                    <p class="alert alert-danger mt-8 form-message form-message-change-password"></p>
                    <button class="btn-submit-create-account btn-change-password" type="button">Change Account Password</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Message real time -->
    <div class="wrap-message-real-time"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        var password = JSON.parse('<%- password %>');
    </script>
    <script src="/javascripts/main.js"></script>
</body>
</html>