:root {
    --gradient-color: linear-gradient(-30deg, #b066fe, #63e2ff);
    --gradient-color-btn: linear-gradient(45deg, #06d6e0, #f606ff);
    --primary-color: #2b81f3;
    --bg-color-hover: #196ad3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 62.5%;
    color: #333;
}

.mt-4 {
    margin-top: 4px !important;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.mt-48 {
    margin-top: 48px !important;
}

.mt-72 {
    margin-top: 72px !important;
}

.mb-8 {
    margin-bottom: 8px !important;
}

.mb-16 {
    margin-bottom: 16px !important;
}

.mr-16 {
    margin-right: 16px !important;
}

.mr-8 {
    margin-right: 8px !important;
}

.mr-4 {
    margin-right: 4px !important;
}

.alert {
    padding: 13px;
    border-radius: 4px;
    font-size: 1.3rem;
}

.alert.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.text-danger {
    color: #dc3545!important;
}

hr {
    background-color: #ced0d4;
    height: 1.2px;
    border-width: 0;
}

.border-color-gray {
    border: 1px solid rgba(0, 0, 0, 0.18) !important;
}

.border-bottom-gray {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}

input::placeholder {
    font-size: 1.32rem;
    font-family: monospace;
    letter-spacing: -0.4px;
}

.position-relative {
    position: relative !important;
}

/* Breadcrumb */
.breadcrumb-list {
    height: 48px;
    list-style: none;
    background-color: #fff;
    padding: 12px 16px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.breadcrumb-item {
    color: #807d98;
    font-size: 1.6rem;
    display: inline;
}

.breadcrumb-item:not(:last-child)::after {
    content: '/';
    color: #807d98;
    padding: 0 6px;
}

.breadcrumb-item a {
    color: #0e7eff;
    text-decoration: none;
}

.breadcrumb-item:hover a {
    color: #0c64c9;
    text-decoration: underline;
}

/* Grid system */
.grid {
    width: 100%;
    display: block;
    padding: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-lg-3 {
    max-width: 25%;
    flex: 0 0 25%;
}

.col-lg-5 {
    max-width: 41.66667%;
    flex: 0 0 41.66667%;
}

.col-lg-6 {
    max-width: 50%;
    flex: 0 0 50%;
}

.col-lg-7 {
    max-width: 58.33333%;
    flex: 0 0 58.33333%;
}

.col-md-12 {
    max-width: 100%;
    flex: 0 0 100%;
}

/* Login */
.login-app {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: var(--gradient-color);
}

.login-app-content {
    display: flex;
    margin: auto;
    margin-top: 100px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
    padding: 48px 24px;
    border-radius: 4px;
    background-color: #fff;
    max-width: 100%;
}

.wrap-login-img {
    width: 440px;
}

.login-img {
    width: 100%;
    position: relative;
    bottom: -16px;
}

.login-form {
    width: 340px;
    margin-left: 60px;
    overflow: hidden;
}

.login-form form {
    width: 100%;
}

.login-form-heading {
    font-size: 3.2rem;
    text-align: center;
    letter-spacing: 2px;
    font-family: cursive;
}

.form-group-login {
    position: relative;
    margin: 24px 0;
}

.form-label-login {
    position: absolute;
    bottom: -2px;
    left: 0%;
    height: 100%;
    width: 100%;
    pointer-events: none;
    border-bottom: 1px solid #000;
    font-size: 1.6rem;
    font-weight: 500;
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.16);
}

.form-label-login::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0%;
    bottom: -2px;
    border-bottom: 3px solid #1dbfaf;
    transform: translateX(-100%);
    transition: transform 0.3s linear;
}

.form-control-login {
    width: 100%;
    padding-top: 8px;
    margin-top: 28px;
    border: none;
    outline: none;
    font-size: 1.4rem;
}

.form-control-login:focus + .form-label-login::after {
    transform: translateX(0);
}

.form-control-login:focus + .form-label-login {
    color: #1dbfaf;
}

#rememberMe {
    position: relative;
    top: 1.6px;
    margin-right: 4px;
}

#rememberMe + label {
    font-size: 1.2rem;
}

.login-btn {
    cursor: pointer;
    width: 100%;
    padding: 13px 12px 12px;
    font-size: 1.5rem;
    margin-top: 12px;
    border: none;
    border-radius: 4px;
    outline: none;
    font-weight: 500;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
}

.login-btn.login-submit-btn {
    color: #fff;
    background-color: var(--primary-color);
}

.separate {
    position: relative;
    border-bottom: 1px solid #ccc;
    margin: 30px 0 18px;
}

.separate-or {
    position: absolute;
    top: -12px;
    left: 47%;
    background: #fff;
    padding: 4px;
    font-size: 1.2rem;
    color: #666;
}

.login-btn.btn-login-with-gg {
    color: #fff;
    padding-left: 28px;
    background-color: #F44336;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.login-btn.btn-login-with-gg:hover,
.login-btn.login-submit-btn:hover {
    opacity: 0.92;
}

.login-with-gg {
    position: relative;
}

.login-with-gg::before {
    content: '';
    position: absolute;
    top: -0.5px;
    left: -36px;
    background-image: url(../images/google-plus.svg);
    width: 20px;
    height: 20px;
}

/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    padding: 0 24px 0 10px;
    background-color: #fff;
    color: #050505;
    z-index: 1;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
}

.header__nav-list {
    list-style: none;
    display: flex;
    align-items: center;
}

.header__nav-item {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
}

.header__nav-item-wrap-logo {
    display: flex;
    align-items: center;
}

.header__nav-item-logo-link {
    text-decoration: none;
    margin-left: 8px;
}

.header__nav-item-logo {
    height: 30px;
    width: 60px;
}

.header__nav-list-icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}

.wrap-icon-home-header {
    padding: 10px 40px 0;
    height: 48px;
    text-decoration: none;
}

.wrap-icon-home-header.active {
    border-bottom: 3px solid #1876f2;
}

.wrap-icon-home-header:hover {
    background-color: #f1f1f1;
}

.header__nav-item-img {
    height: 24px;
}

.header__nav-item-img-profile {
    height: 26px;
}

.header__nav-item.header__nav-icon-down {
    position: relative;
    top: 1px;
}

.header__nav-user-menu {
    position: absolute;
    right: 0;
    top: calc(100% + 7px);
    list-style: none;
    background-color: #fff;
    padding: 8px 0;
    min-width: 162px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform-origin: top right;
    transform: scale(0);
    transition: transform 0.3s linear;
}

.header__nav-user-link {
    text-decoration: none;
    display: block;
    color: #333;
    padding: 8px 16px;
}

.header__nav-user-link:hover {
    cursor: pointer;
    background-color: #f1f1f1;
}

.overlay-transparent {
    position: fixed;
    top: 48px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    display: none;
}

.header__nav-icon {
    font-size: 2rem;
}

.header__nav-icon.ti-menu {
    font-size: 2rem;
    padding: 14px;
}

.header__nav-icon.ti-menu:hover {
    cursor: pointer;
    color: rgb(138, 138, 138);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 1;
}

.header__navigation {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 360px;
    max-width: 90%;
    color: #333;
    padding: 24px 8px 0;
    background-color: #fff;
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.5);
    transform: translateX(-100%);
    opacity: 0;
    transition: all 0.3s linear;
    z-index: 1;
}

.navigation-close {
    cursor: pointer;
    position: absolute;
    top: -8px;
    right: 0px;
    font-size: 2.2rem;
    padding: 0 6px;
    color: #fff;
    border-bottom-left-radius: 8px;
    background-color: #db2020;
}

.header__navigation-heading {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 8px;
    text-decoration: none;
    color: #333;
    z-index: 2;
    background-color: #fff;
    position: relative;
}

.header__navigation-heading:hover {
    background-color: #f1f1f1;
}

.header__nav-avt.header__navigation-avt {
    width: 60px;
    height: 60px;
    margin-right: 16px;
}

.heading__navigation-user-name {
    margin-bottom: 10px;
}

.heading__navigation-prof {
    color: #65676b;
}

.navigation-list {
    list-style: none;
}

.navigation-item,
.navigation-sub-item {
    padding: 16px 8px;
    border-radius: 8px;
    z-index: 2;
    background-color: #fff;
}

.navigation-item:hover,
.navigation-sub-item:hover {
    cursor: pointer;
    background-color: #f1f1f1;
}

.navigation-link {
    text-decoration: none;
    color: #333;
    display: block;
}

.navigation-icon {
    position: relative;
    top: 1px;
    font-size: 1.8rem;
    padding-right: 8px;
    color: var(--bg-color-hover);
}

.navigation-content {
    font-size: 1.5rem;
}

.header__nav-icon.fa-caret-down {
    padding: 7px 10px 6px;
    border-radius: 50%;
    background-color: #f1f1f1;
    position: relative;
    top: 0.4px;
}

.header__nav-icon.fa-caret-down:hover {
    cursor: pointer;
    background-color: rgb(221, 221, 221);
}

.header__nav-text {
    margin-left: 4px;
}

.header__nav-text-name {
    cursor: pointer;
    max-width: 160px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    font-weight: 600;
    color: #333;
    text-decoration: none;
}

.header__nav-avt {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 0.8px solid rgba(0, 0, 0, 0.2);
}

/* Sub-item */
.ti-angle-down.sub-item-icon {
    display: none;
}

.navigation-item {
    position: relative;
}

.sub-item-icon {
    position: absolute;
    top: 22px;
    right: 16px;
    font-size: 1rem;
}

.navigation-logout,
.navigation-sub-item {
    transform: translateY(-300%);
    transition: transform 0.3s linear;
}

.navigation-sub-item {
    padding-left: 36px;
    z-index: 1;
}

.header__navigation-seperate {
    padding: 8px 0;
    background-color: #fff;
    z-index: 2;
    position: relative;
}

/* Manage */
.table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
}

thead {
    font-size: 1.7rem;
    background-color: #e9ecef;
}

thead th {
    border-bottom: 2px solid #dee2e6;
}

.table td, .table th {
    padding: 12px;
    border-top: 1px solid #dee2e6;
    text-align: left;
}

tbody {
    font-size: 1.4rem;
    line-height: 1.5;
}

tr th:first-child {
    padding: 0 40px 0 32px;
    text-align: center;
}

.manage-user-heading {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.8rem;
    margin-bottom: 12px;
}

.wrap-total-accounts {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 12px 12px;
}

.btn {
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 4px;
}

.btn-create-account-link {
    background-color: #28a745;
    padding: 10px 16px;
    font-size: 1.4rem;
    font-weight: 400;
    text-decoration: none;
    position: relative;
    top: 2px;
}

.btn-create-account-link:hover {
    background-color: #2a9743;
}

.total-accounts-text {
    font-size: 1.5rem;
    font-weight: 700;
}

.btn-authorized {
    text-decoration: none;
    display: inline-block;
    padding: 6px 8px;
    font-weight: 400;
    background-color: #007bff;
}

.btn-authorized:hover {
    background-color: #0c6dd4;
}

/* Form create account */
.container-wrap-form-create {
    display: flex;
    justify-content: center;
}

.wrap-form-create-account {
    position: relative;
    margin-top: 160px;
    width: 400px;
    padding: 32px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
}

.wrap-icon-back,
.wrap-icon-back-form-authorized {
    cursor: pointer;
    position: absolute;
    top: 29px;
    left: 2%;
    font-size: 1.8rem;
    padding: 7px 12px;
    border-radius: 50%;
}

.wrap-icon-back:hover,
.wrap-icon-back-form-authorized:hover {
    color: #fff;
    background-color: #2b81f3
}

.form-create-heading {
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 28px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-label {
    font-size: 1.5rem;
    font-weight: 500;
}

.form-control {
    margin: 12px 0;
    padding: 8px 12px;
    height: 40px;
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    outline: none;
}

.form-control:focus {
    border-color: var(--primary-color);
}

.form-message {
    display: none;
}

.btn-submit-create-account {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 4px;
    background-color: var(--primary-color);
}

.btn-submit-create-account:hover,
.btn-submit-update-scope:hover {
    cursor: pointer;
    background-color: var(--bg-color-hover);
}

/* Form authorized */
.wrap-form-authorized-account {
    position: relative;
    margin-top: 140px;
    padding: 32px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
}

.form-check {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 24px;
}

.form-check div {
    display: flex;
}

.form-check-input {
    height: 1.6rem;
}

.form-check-label {
    min-width: 310px;
    padding-left: 6px;
    font-size: 1.3rem;
}

.wrap-btn-update-scope {
    display: flex;
    justify-content: center;
}

.btn-submit-update-scope {
    width: 50%;
    height: 40px;
    margin-top: 16px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 4px;
    background-color: var(--primary-color);
}

/* Form change password */
.star-red {
    color: rgb(233, 10, 10);
}

/* Profile */
.container-medium {
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
}

.profile-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: #f0f2f5;
    z-index: 0;
}

.wrap-profile {
    position: relative;
    background-color: #fff;
    width: 100%;
    margin-top: 180px;
    padding: 48px 16px 0;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

.profile-image {
    width: 150px;
    height: 150px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    position: relative;
    top: -48px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.profile-name-heading {
    text-align: center;
    font-size: 2.2rem;
    margin-top: -116px;
}

.wrap-btn-edit-prof {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

.edit-prof__option-list {
    list-style: none;
    display: flex;
}

.edit-prof__option-item {
    cursor: pointer;
    color: #696b6f;
    padding: 16px;
    font-size: 1.4rem;
    font-weight: 500;
    border-top: 4px solid #fff;
}

.edit-prof__option-item--active {
    color: #2b81f3;
    border-bottom: 3px solid #1876f2;
}

.edit-prof__option-item--not-active {
    border-bottom: 5px solid #fff;
    border-radius: 8px;
}

.edit-prof__option-item--not-active:hover {
    background-color: #f1f1f1;
}

.btn-edit-prof {
    cursor: pointer;
    padding: 10px 12px;
    border: none;
    outline: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #171717;
    border-radius: 6px;
    background-color: #e4e6eb;
}

.btn-edit-prof:hover {
    background-color: rgb(219, 219, 219);
}

.profile-icon-btn-edit {
    font-size: 1.4rem;
    padding-right: 2px;
}

.separate-prof {
    margin-top: 32px;
    border-bottom: 1px solid #c5c5c5;
}

.profile-info {
    display: flex;
    margin: 16px 48px;
}

.profile-info-list {
    flex: 1;
    list-style: none;
}

.profile-info-item {
    font-size: 1.4rem;
    margin-bottom: 16px;
}

.profile-info-title {
    font-size: 1.5rem;
    font-weight: 600;
    font-style: italic;
}

.prof__timeline-wrap-content {
    position: relative;
    margin-top: 16px;
}

.prof__timeline-info-detail {
    position: sticky;
    top: 60px;
    width: 360px;
    max-width: 95%;
    border-radius: 8px;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

.prof__timeline-info-heading {
    color: #050505;
    font-size: 2rem;
}

.prof__timeline-info-list {
    list-style: none;
    margin-top: 12px;
}

.prof__timeline-info-item {
    font-size: 1.5rem;
    /* padding: 12px 0; */
    height: 46px;
    line-height: 46px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.prof__timeline-info-icon {
    position: relative;
    top: 1px;
    font-size: 2rem;
    width: 20px;
    text-align: center;
    color: #8c939d;
}

.prof__timeline-info-icon ~ span {
    color: #050505;
    font-weight: 500;
    margin-left: 12px;
}

/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    animation: fadeIn linear 0.2s;
    display: none; /* display: flex */
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    margin: auto;
    z-index: 1;
    --growth-from: 0.7;
    --growth-to: 1;
    animation: growth linear 0.2s;
}

.wrap-form-edit-prof {
    position: relative;
    background-color: #fff;
    width: 420px;
    border-radius: 4px;
    overflow: hidden;
}

.form-edit-prof__container {
    padding: 16px 32px;
}

.form-edit-prof-heading {
    text-align: center;
    font-size: 2.4rem;
    padding-bottom: 12px;
    border-bottom: 1px solid #dee2e6;
}

.btn-close-edit-prof,
.btn-close-edit-form-post {
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 3rem;
    padding: 0 10px;
    height: 39px;
    line-height: 35px;
    background-color: #ccc;
    border-radius: 50%;
}

.form-edit-prof {
    width: 100%;
}

.btn-submit-edit-prof {
    width: 100%;
    margin-top: 16px;
    padding: 12px 0;
    font-size: 1.4rem;
    background-color: var(--primary-color);
}

.btn-submit-edit-prof:hover {
    background-color: var(--bg-color-hover);
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

/* App container (home page) */
.app__container {
    margin-top: 48px;
}

.app__container-timeline {
    padding: 32px 84px;
}

.timeline__form-post,
.timeline-news {
    padding: 12px 16px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    border-radius: 8px;
}

.timeline__wrap-input {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.timeline__wrap-input-avt {
    cursor: pointer;
    width: 41px;
    height: 41px;
    margin-right: 8px;
    border-radius: 50%;
    border: 0.8px solid rgba(0, 0, 0, 0.1);
}

.timeline__wrap-input-open {
    cursor: pointer;
    width: 100%;
    font-size: 1.6rem;
    color: rgb(128, 124, 124);
    padding: 10px 20px;
    border-radius: 999px;
    background-color: #f1f1f1;
}

.timeline__wrap-input-open:hover {
    background-color: #e9e5e5;
}

.timeline__options-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    padding: 8px 0 0;
    border-top: 1px solid #dee2e6;
}

.timeline__options-item {
    font-size: 1.5rem;
    flex: 1;
    text-align: center;
    padding: 10px 0;
    border-radius: 8px;
    color: rgb(80, 78, 78);
}

.timeline__options-item:hover {
    cursor: pointer;
    background-color: #f1f1f1;
}

.timeline__options-icon {
    font-size: 2rem;
    position: relative;
    top: 2px;
    padding-right: 4px;
}

.color-red {
    color: rgb(240, 40, 73);
}

.color-green {
    color: rgb(69, 189, 98);
}

.color-yellow {
    color: rgb(247, 185, 40);
}

.wrap-form-post-news,
.wrap-form-edit-post-news {
    position: relative;
    background-color: #fff;
    width: 500px;
    border-radius: 4px;
    overflow: hidden;
}

.form-post-news__container {
    padding: 16px;
}

.form-post-news__heading {
    display: flex;
    align-items: center;
    margin: 16px 0;
}

.wrap-user-status-avt {
    width: 41px;
    height: 41px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-right: 10px;
}

.wrap-form-post-name {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 6px;
}

.wrap-form-post-status {
    font-size: 1.2rem;
    font-weight: 600;
}

.form-post-news-textarea,
.form-edit-post-news-textarea {
    width: 100%;
    border-color: #d8d6d6;
    border-radius: 4px;
    outline-color: var(--primary-color);
    padding: 8px 12px;
}

.display-img-form-post-news,
.display-img-form-post-edit {
    position: relative;
}

.wrap-show-img__input-img,
.wrap-show-img__input-img-edit {
    margin-top: 0;
    height: 0;
    display: none;
    overflow-y: auto;
}

.btn-close-image-form-post-news,
.btn-close-image-form-post-edit {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 16.5px;
    color: #fff;
    font-size: 2.2rem;
    padding: 0 8px;
    background-color: #dc3545;
    border-bottom-left-radius: 4px;
    display: none;
}

.textarea__img-form-post-news,
.textarea__img-form-post-edit {
    width: 100%;
    height: auto;
}

.form-group-video-link {
    display: none;
    animation: fadeIn 0.2s linear;
}

.form-post-wrap-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin: 16px 0;
}

.form-post-wrap-icon__text {
    font-size: 1.4rem;
    font-weight: 500;
}

.form-post-news-icon,
.form-edit-post-news-icon {
    cursor: pointer;
    font-size: 2rem;
}

.form-post-news-icon:hover,
.form-edit-post-news-icon:hover {
    filter: opacity(80%);
}

.btn-submit-form-post-news {
    width: 100%;
    font-size: 1.5rem;
    padding: 12px 0;
    background-color: var(--primary-color);
}

.btn-submit-form-post-news:hover {
    background-color: var(--bg-color-hover);
}

/* The news */
.timeline-news__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.timeline-news__heading-author {
    display: flex;
    align-items: center;
}

.timeline-news__heading-author-img {
    cursor: pointer;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    border: 0.8px solid rgba(0, 0, 0, 0.2);
    margin-right: 8px;
}

.timeline-news__heading-author-wrap {
    display: flex;
    flex-direction: column;
}

.timeline-news__heading-author-name {
    text-decoration: none;
    margin-bottom: 4px;
    color: #333;
    font-size: 1.5rem;
    font-weight: 600;
}

.timeline-news__heading-author-name:hover {
    text-decoration: underline;
}

.timeline-news__heading-time {
    font-size: 1.2rem;
}

.timeline-news__heading-icon {
    padding-left: 5px;
}

.timeline-news__heading-options {
    padding: 4px 7px;
    font-size: 1.7rem;
    color: rgb(129, 126, 126);
    border-radius: 50%;
    position: relative;
}

.timeline-news__heading-options:hover {
    cursor: pointer;
    background-color: #f1f1f1;
}

.timeline-news__options-list {
    list-style: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    color: #333;
    font-size: 1.4rem;
    min-width: 120px;
    padding: 8px 0;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    z-index: 2;
    display: none;
    animation: fadeIn ease-in-out 0.3s;
}

.timeline-news__options-item {
    padding: 12px 8px 12px 12px;
}

.timeline-news__options-item:hover {
    background-color: #f1f1f1;
}

.timeline-news__options-icon {
    position: relative;
    top: 0.5px;
    font-size: 1.5rem;
    padding-right: 8px;
}

.timeline-news__content-text {
    padding: 12px 0;
    font-size: 1.4rem;
    line-height: 1.5;
    text-align: justify;
}

.timeline-news__content-video {
    width: 100%;
}

.timeline-news__content-img {
    width: 100%;
}

.timeline-news__wrap-quantity-cmt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.6);
}

.timeline-news__icon-show-react {
    position: relative;
    top: 1px;
    font-size: 1.8rem;
}

.separate-timeline-news {
    border-bottom: 1px solid #dee2e6;
    margin: 2px 0;
}

.timeline-news__show-activity {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 500;
    color: #65676b;
}

.timeline-news__activity-liked,
.timeline-news__activity-comment {
    flex: 1;
    text-align: center;
    padding: 10px 0;
    border-radius: 4px;
}

.timeline-news__activity-liked:hover,
.timeline-news__activity-comment:hover {
    cursor: pointer;
    background-color: #e9e8e8;
}

.timeline-news__activity-icon {
    font-size: 1.6rem;
    padding-right: 2px;
}

.timeline-news__cmt-icon {
    position: relative;
    top: 1px;
}

.timeline-news__form-cmt {
    margin: 16px 0 8px;
    position: relative;
}

.form-group-cmt {
    display: flex;
    align-items: center;
}

.form-label-cmt {
    cursor: pointer;
    width: 33px;
    height: 33px;
    margin-right: 8px;
}

.timeline-news__footer-cmt-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 0.8px solid rgba(0, 0, 0, 0.2);
}

.form-control-cmt {
    flex: 1;
    height: 36px;
    border: none;
    outline: none;
    background-color: #e9e8e8;
    padding: 4px 52px 4px 16px;
    border-radius: 999px;
}

.form-control-cmt:focus {
    background-color: #f1eded;
}

.btn-submit-cmt {
    cursor: pointer;
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 1.6rem;
    background-color: #e9e8e8;
    height: 35px;
    padding: 0 16px 0 12px;
    border-bottom-right-radius: 999px;
    border-top-right-radius: 999px;
    transition: 0.4s;
}

.btn-submit-cmt:hover {
    background-color: #1379e6;
    color: #fff;
}

.overlay-transparent-post {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    display: none;
    z-index: 1;
}

/* Loading */
.loading {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 600;
    font-size: 1.2rem;
    padding: 4px 8px 2px;
    background-color: #efce7e;
    border: 3px solid #f3a977;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

/* Comment */
.timeline-news__cmt-list {
    list-style: none;
}

.timeline-news__cmt-item:first-child {
    margin-top: 16px;
}

.timeline-news__cmt-item {
    display: flex;
    align-items: flex-start;
    margin-top: 12px;
}

.avt-user-comment-link {
    text-decoration: none;
}

.avt-user-comment-img {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    border: 0.8px solid rgba(0, 0, 0, 0.2);
}

.timeline-news__cmt-body {
    margin-left: 6px;
    padding: 4px 12px 6px 12px;
    background-color: #f1f1f1;
    border-radius: 16px;
}

.name-user-comment {
    margin: 4px 0;
    font-size: 1.3rem;
    text-decoration: none;
    color: #333;
    font-weight: 600;
    display: inline-block;
}

.name-user-comment:hover {
    text-decoration: underline;
}

.timeline-news__cmt-content {
    font-size: 1.4rem;
    line-height: 1.4;
}

.timeline-news__btn-options-cmt{
    cursor: pointer;
    align-self: center;
    margin-left: 8px;
    padding: 6px 8px;
    color: rgb(129, 126, 126);
    background-color: #e9e7e7;
    border-radius: 50%;
    font-size: 1.4rem;
    transition: 0.4s;
    position: relative;
}

.timeline-news__options-cmt-list {
    list-style: none;
    min-width: 94px;
    position: absolute;
    top: 100%;
    right: 0;
    padding: 4px 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    display: none;
}

.timeline-news__options-cmt-item {
    color: #333;
    font-weight: 400;
    padding: 6px 12px;
}

.timeline-news__options-cmt-item:hover {
    background-color: #f1f1f1;
}

.timeline-news__options-cmt-item span {
    font-size: 1.3rem;
}

/* List of students */
.app__container-list-students {
    position: fixed;
    top: 40%;
    bottom: 0;
    right: 0;
    width: 25%;
    overflow-y: scroll;
}

.app__container-list-students::-webkit-scrollbar {
    width: 8px;
}

.app__container-list-students::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #ccc;
}

.list-students__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0 4px;
    margin: 0 16px;
    border-top: 1px solid #ccc;
}

.list-students__heading-title {
    color: #66686c;
    font-size: 1.8rem;
    font-weight: 500;
}

.list-students__heading-wrap-icon {
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
}

.list-students__heading-wrap-icon:hover {
    background-color: rgb(221, 221, 221);
}

.list-students__heading-icon-search {
    opacity: 0.8;
    font-size: 1.6rem;
}

.list-students__search {
    padding: 4px 16px 8px;
    display: none;
}

.list-students__search-input {
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline-color: #2b81f3;
    padding: 0 12px;
}

.list-students__body-list {
    list-style-type: none;
}

.list-students__body-item {
    padding: 8px;
    margin: 0 8px;
    border-radius: 8px;
    transition: 0.2s;
}

.list-students__body-item:hover {
    background-color: rgb(228, 228, 228);
}

.list-students__body-item-link {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.list-students__body-item-img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 0.8px solid rgba(0, 0, 0, 0.1);
}

.list-students__body-item-name {
    margin-left: 8px;
    color: #050505;
    font-size: 1.4rem;
    font-weight: 500;
}

/* Notification Box */
.app__container-notification {
    position: fixed;
    top: 20%;
    left: 0;
    width: 360px;
    max-width: 25%;
}

.app__container-box-notification {
    width: 100%;
    background-color: #fff;
    padding-bottom: 12px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.box-notification__wrap-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0 8px;
    margin: 0 12px;
    border-bottom: 1px solid #ccc;
}

.box-notification__heading-left {
    display: flex;
    align-items: center;
}

.box-notification__heading-img {
    width: 24px;
    height: 24px;
    margin-right: 6px;
    transition: 0.8s;
}

.box-notification__heading-title {
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
}

.box-notification__heading-link {
    color: #0c6dd4;
    font-size: 1.4rem;
    font-weight: 600;
}

.box-notification__heading-link:hover {
    color: #095fbb;
}

.box-notification__list {
    list-style: none;
    height: auto;
    max-height: 440px;
    overflow-y: auto;
}

.box-notification__list::-webkit-scrollbar {
    width: 8px;
}

.box-notification__list::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #ccc;
}

.box-notification__item {
    margin: 12px 12px 0;
    padding: 8px 0 8px 8px;
    line-height: 1.4;
    border-left: 3px solid rgb(102, 101, 101);
}

.box-notification__item:nth-child(odd) {
    background-color: #cae8ff;
    border-left: 3px solid #03a9f4;
}

.box-notification__department-name {
    font-size: 1.2rem;
    font-style: italic;
}

.box-notification__body-title {
    color: #000;
    font-size: 1.3rem;
    font-weight: 600;
    margin: 8px 0;
    text-decoration: none;
    display: block;
    transition: 0.2s;
}

.box-notification__body-title:hover {
    color: rgb(231, 2, 2);
    font-size: 1.4rem;
}

.box-notification__body-content {
    font-size: 1.2rem;
}

/* Notification Page */
.notification-container {
    margin: 0 36px;
}

.notification-container__body {
    position: relative;
}

.breadcrumb-icon {
    font-size: 1.8rem;
    padding-right: 5px;
    color: #0e7eff;
}

.container__body-notify {
    margin: 24px 16px;
    padding: 16px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.container__body-notify-input {
    display: flex;
}

.body-notify-input-search {
    flex: 2;
    max-width: 400px;
    padding: 8px 8px;
    margin-right: 16px;
    height: 36px;
    border: 1px solid #b3b3b3;
    border-radius: 2px;
    outline-color: var(--primary-color);
}

#form-filter-department {
    display: flex;
}

.body-notify-select {
    margin-right: 16px;
}

#filter-department {
    height: 100%;
    padding: 0 8px;
    border: 1px solid #b3b3b3;
    border-radius: 2px;
}

.btn-submit-form-filter-department {
    cursor: pointer;
    color: #fff;
    background-color: #ec1212;
    padding: 0 20px;
    border: none;
    outline: none;
    border-radius: 2px;
}

.btn-submit-form-filter-department:hover {
    background-color: #df2b2b;
}

.container__notify-list {
    list-style: none;
    margin: 16px 0;
}

.not-found-notification {
    color: #f01313;
    font-size: 1.5rem;
    padding: 8px;
}

.container__notify-item {
    padding: 16px;
    background-color: #f9f9f9;
    border-left: 1px solid #333;
}

.container__notify-item:nth-child(even) {
    background-color: #edf7fa;
    border-left: none;
}

.container__notify-item-title {
    color: #0061AD;
    font-size: 1.8rem;
    text-transform: uppercase;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.container__notify-item-desc {
    font-size: 1.4rem;
    margin: 8px 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.container__notify-item-foot {
    display: flex;
    justify-content: space-between;
}

.container__notify-link-detail {
    color: #0d93f8;
    font-size: 1.4rem;
    text-decoration: none;
}

.container__notify-department-name {
    color: #777;
    font-size: 1.4rem;
}

/* Form post notification */
.wrap-form-post-notify {
    width: 80%;
    min-width: 320px;
    margin: 32px auto 16px;
    padding: 16px 24px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.form-post-notify__heading {
    font-size: 2.4rem;
    text-align: center;
    margin-bottom: 16px;
}

.form-label-notify {
    font-size: 1.4rem;
    font-weight: 700;
    margin: 16px 0 8px;
}

.form-control-notify {
    padding: 8px;
}

input[type="text"].form-control-notify {
    height: 36px;
    border: 1px solid #b3b3b3;
    outline-color: var(--primary-color);
    border-radius: 2px;
}

#textarea-notify,
#textarea-notify-edit {
    border: 1px solid #b3b3b3;
    outline-color: var(--primary-color);
    border-radius: 2px;
    padding: 8px;
}

input[type="file"].form-control-notify {
    padding: 0;
}

label[for="notify-input-file"].form-label-notify {
    padding: 8px 0 0;
}

.btn.btn-submit-form-notify,
.btn.btn-submit-form-edit-notify {
    margin: 16px auto 0;
    padding: 10px 0;
    width: 100%;
    max-width: 800px;
    font-size: 1.5rem;
    background-color: var(--primary-color);
    border-radius: 2px;
    display: block;
}

.btn-submit-form-notify:hover,
.btn-submit-form-edit-notify:hover {
    background-color: var(--bg-color-hover);
}

.body-notify-select-form-post select {
    margin-left: auto;
    padding: 6px 8px;
    display: block;
    max-width: 100%;
    height: 34px;
    border: 1px solid #b3b3b3;
    border-radius: 2px;
}

.item-file-upload,
.item-file-upload-edit {
    list-style: none;
    font-size: 1.4rem;
    padding: 4px 8px 0;
}

/* Form edit notification */
.wrap-form-group-edit-notification {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.form-group-edit-notification {
    display: flex;
    align-items: center;
    margin-right: 24px;
}

.form-label-notify-edit {
    font-size: 1.4rem;
    margin: 4px 0 6px;
    padding-left: 6px;
    font-weight: 700;
}

/* Notification Details  */
.wrap-details-notification {
    padding: 16px;
}

.details-notification__heading {
    color: #0e7eff;
    font-size: 3rem;
    text-align: center;
}

.details-notification__department {
    font-size: 1.6rem;
    text-align: end;
    margin: 16px 0;
    font-weight: 700;
}

.details-notification__content {
    font-size: 1.8rem;
    font-family: 'themify';
    line-height: 1.5;
}

.details-notification__content ol,
.details-notification__content ul {
    margin-left: 40px;
}

.details-notification__display-file {
    background-color: #c6e0f9;
    border: 1px solid blue;
    padding: 8px 16px;
    margin-top: 16px;
}

.display-file-heading {
    font-size: 1.6rem;
    color: blue;
}

.display-file-list {
    font-weight: 500;
    padding-left: 28px;
}

.display-file-item {
    font-size: 1.4rem;
    padding: 5px 0;
}

.display-file-item-link {
    color: #333;
    text-decoration: none;
    overflow-wrap: break-word;
}

.display-file-item-link:hover {
    color: #0061AD;
    text-decoration: underline;
}

/* Your notification page */
.manage-notification tbody tr td:nth-child(2) {
    width: 400px;
}

.manage-notification tbody tr td:last-child {
    width: 180px;
}

.manage-notification-link-detail {
    color: #333;
    text-decoration: none;
}

.manage-notification-link-detail:hover {
    color: #0061AD;
    text-decoration: underline;
}

.manage-notification a.btn {
    display: inline-block;
    text-decoration: none;
}

.btn.btn-delete-notification {
    background-color: #dc1515;
    padding: 6px 14px;
}

.btn.btn-edit-notification {
    background-color: dodgerblue;
    padding: 6px 22px;
}

/* Message real time */
.message-real-time {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.4rem;
    padding: 2px 8px 4px;
    color: #155724;
    border: 2px solid #c3e6cb;
    border-top: none;
    background-color: #d4edda;
    z-index: 2;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* Not found page */
.wrap-err-page {
    display: flex;
    justify-content: center;
}

.error-text {
    text-align: center;
}

.error {
    text-align: center;
    font-size: 10rem;
    font-weight: 400;
}

.error-text h4 {
    font-size: 3rem;
    font-family: 'Raleway', sans-serif;
}

.error-text p {
    font-size: 1.8rem;
    font-family: 'Lato', sans-serif;
    margin: 24px 0;
}

.error-text a.btn-primary-back-go-home {
    font-size: 1.6rem;
    text-decoration: none;
    background-color: var(--primary-color);
    color: #fff;
    padding: 8px 16px 9px;
    display: inline-block;
    border-radius: 999px;
}

.error-text a.btn-primary-back-go-home:hover {
    background-color: var(--bg-color-hover);
}

.wrap-sticker {
    display: flex;
    justify-content: center;
}

@keyframes bob {
    0% {
        top: 0;
    }
    50% {
        top: 0.2em;
    }
}

.im-sheep {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 2em;
    margin: 36px 0 72px;
}

.im-sheep * {
    transition: transform 0.3s;
}

.im-sheep .top {
    position: relative;
    top: 0;
    animation: bob 1s infinite;
}

.im-sheep:hover .head {
    transform: rotate(0deg);
}

.im-sheep:hover .head .im-eye {
    width: 1.25em;
    height: 1.25em;
}

.im-sheep:hover .head .im-eye:before {
    right: 30%;
}

.im-sheep:hover .top {
    animation-play-state: paused;
}

.im-sheep .head {
    display: inline-block;
    width: 5em;
    height: 5em;
    border-radius: 100%;
    background: #253858;
    vertical-align: middle;
    position: relative;
    top: 1em;
    transform: rotate(30deg);
}

.im-sheep .head:before {
    content: '';
    display: inline-block;
    width: 80%;
    height: 50%;
    background: #253858;
    position: absolute;
    bottom: 0;
    right: -10%;
    border-radius: 50% 40%;
}

.im-sheep .head:hover .im-ear.one, .im-sheep .head:hover .im-ear.two {
    transform: rotate(0deg);
}

.im-sheep .head .im-eye {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 100%;
    background: white;
    position: absolute;
    overflow: hidden;
}

.im-sheep .head .im-eye:before {
    content: '';
    display: inline-block;
    background: black;
    width: 50%;
    height: 50%;
    border-radius: 100%;
    position: absolute;
    right: 10%;
    bottom: 10%;
    transition: all 0.3s;
}

.im-sheep .head .im-eye.one {
    right: -2%;
    top: 1.7em;
}

.im-sheep .head .im-eye.two {
    right: 2.5em;
    top: 1.7em;
}

.im-sheep .head .im-ear {
    background: #253858;
    width: 50%;
    height: 30%;
    border-radius: 100%;
    position: absolute;
}

.im-sheep .head .im-ear.one {
    left: -10%;
    top: 5%;
    transform: rotate(-30deg);
}

.im-sheep .head .im-ear.two {
    top: 2%;
    right: -5%;
    transform: rotate(20deg);
}

.im-sheep .body {
    display: inline-block;
    width: 7em;
    height: 7em;
    border-radius: 100%;
    background: #0054D1;
    position: relative;
    vertical-align: middle;
    margin-right: -3em;
}

.im-sheep .im-legs {
    display: inline-block;
    position: absolute;
    top: 80%;
    left: 10%;
    z-index: -1;
}

.im-sheep .im-legs .im-leg {
    display: inline-block;
    background: #141214;
    width: 0.5em;
    height: 2.5em;
    margin: 0.2em;
}

.im-sheep::before {
    left: 0;
    content: '';
    display: inline-block;
    position: absolute;
    top: 112%;
    width: 100%;
    height: 18%;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.2);
}

/***** Responsive *****/
/* Tablet + Mobile */
@media (max-width: 64em) {
    /* Login page */
    .wrap-login-img {
        display: none;
    }

    .login-form {
        margin-left: 0;
    }

    .login-btn.btn-login-with-gg {
        margin-bottom: 12px;
    }

    /* Notification page */
    .breadcrumb-notification {
        display: none;
    }

    .container__body-notify {
        margin-top: 72px;
    }

    .container__body-notify-input {
        flex-wrap: wrap-reverse;
    }

    #form-filter-department,
    .body-notify-input-search {
        margin-bottom: 16px;
    }

    .container__notify-list {
        margin: 0 0 16px;
    }

    #filter-department {
        width: 100%;
        height: 36px;
    }

    .notification-container-page-responsive {
        margin: 0;
    }

    /* Detail notification page */
    .notification-container-detail-responsive {
        margin: 0 8px;
    }

    .mt-48-res {
        margin-top: 48px !important;
    }

    /* Your notification page */
    .breadcrumb-your-notification-responsive {
        display: none;
    }

    tr th:first-child {
        padding: 0 20px 0 10px;
    }
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 64em) {
    .col-md-0 {
        display: none;
    }

    .col-md-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .col-md-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    /* Home page */
    .app__container-timeline {
        padding: 32px 28px;
    }

    .app__container-list-students {
        width: 33.33333%;
        top: 12%;
    }

    .header__nav-text-name {
        max-width: 80px;
    }

    /* Your notification page */
    .manage-notification tbody tr td:last-child {
        width: 192px;
    }
}

/* Mobile */
@media (max-width: 46.1875em) {
    .col-sm-0 {
        display: none;
    }

    .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    /* Home page */
    .header {
        box-shadow: none;
        border-bottom: 1px solid #bebebe;
    }

    .app__container-timeline {
        padding: 0 0 24px;
    }

    .header__nav-item-wrap-logo {
        display: none;
    }

    .wrap-icon-home-header {
        padding: 14px 22px 0;
    }

    .header__nav-item-img {
        height: 22px;
    }

    .header__nav-item-user-inf {
        display: none;
    }

    .timeline__form-post {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .modal__body {
        margin: auto 0;
    }

    .wrap-form-post-news,
    .wrap-form-edit-post-news {
        position: fixed;
        background-color: #fff;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        border-radius: 4px;
        overflow: hidden;
    }

    .form-post-news__container {
        max-height: 100vh;
        overflow-y: scroll;
        position: relative;
    }

    .btn-close-edit-prof, .btn-close-edit-form-post {
        line-height: 39px;
    }

    #textareaEdit {
        max-height: 100px;
    }

    /* Profile page */
    .wrap-profile {
        margin-top: 140px;
    }

    .prof__timeline-info-detail {
        width: 100%;
        max-width: 100%;
        margin-bottom: 16px;
    }

    .wrap-form-edit-prof {
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }

    /* Notification page */
    .container__body-notify {
        margin: 48px 0 24px;
        padding: 16px 8px;
        border-radius: 0;
    }

    .container__notify-item-foot {
        flex-wrap: wrap-reverse;
    }

    /* Detail notification page */
    .breadcrumb-list {
        height: auto;
    }

    .wrap-details-notification {
        padding: 8px;
    }

    .details-notification__content {
        text-align: justify;
    }

    /* Your notification page */
    .manage-notification tbody tr td:last-child {
        width: 90px;
    }

    .notification-container-your-noti-res {
        margin: 0;
    }

    .wrap-total-accounts {
        margin: 0 0 12px;
    }

    .table.manage-notification thead tr th:nth-child(4) {
        display: none;
    }

    .table.manage-notification tr td:nth-child(4) {
        display: none;
    }

    /* Post notification page */
    .notification-container-form-post-res,
    .notification-container-form-edit-res {
        margin: 0;
    }

    .wrap-form-post-notify {
        width: 100%;
        margin: 16px auto;
    }

    /* Create account page */
    .wrap-form-create-account {
        margin-top: 100px;
        padding: 32px 16px;
    }

    /* Manage accounts page */
    .table.manage-user thead tr th:nth-child(2) {
        display: none;
    }

    .table.manage-user tr td:nth-child(2) {
        display: none;
    }

    /* Form authorized page */
    .wrap-form-authorized-account {
        padding: 32px 8px;
        margin-top: 40px;
    }

    .form-check-label {
        min-width: 260px;
    }

    .btn-submit-update-scope {
        width: 100%;
    }

    /* Not found page */
    .error {
        font-size: 8rem;
    }
}

/* Btn disabled */
.disabled {
    cursor: not-allowed !important;
    color: #bdc1c5 !important;
    background-color: #e4e6eb !important;
}

.disabled:hover {
    cursor: not-allowed;
    color: #bdc1c5;
    background-color: #e4e6eb;
}