<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <div class="main-app">
        <%- include('./partials/header.ejs') %>
    </div>

    <script src="/javascripts/main.js"></script>
</body>
</html>