<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <div class="main-app">
        <header class="header">
            <ul class="header__nav-list">
                <li class="header__nav-item">
                    <i class="header__nav-icon ti-menu"></i>
                </li>
            </ul>

            <ul class="header__nav-list">
                <li class="header__nav-item mr-16">
                    <i class="header__nav-icon ti-bell"></i>
                    <span class="header__nav-text">Thông báo</span>
                </li>
                <li class="header__nav-item mr-4">
                    <img src="<%= user.avatar %>" alt="" class="header__nav-avt">
                    <span class="header__nav-text"><%= user.name %></span>
                </li>
                <li class="header__nav-item header__nav-icon-down">
                    <i class="header__nav-icon ti-angle-down"></i>
                </li>
            </ul>
        </header>
    </div>

    <script src="/javascripts/main.js"></script>
</body>
</html>