<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <div class="login-app">
        <div class="login-app-content">
            <div class="wrap-login-img">
                <img src="/images/bg-login.svg" alt="" class="login-img">
            </div>
            <div class="login-form">
                <form action="/auth/login" method="POST" novalidate>
                    <h2 class="login-form-heading">Welcome</h2>
                    <div class="form-group-login">
                        <input value="<%= username %>" type="text" class="form-control-login" required name="username" id="username">
                        <label for="username" class="form-label-login">Username</label>
                    </div>
                    <div class="form-group-login">
                        <input type="password" class="form-control-login" required minlength="6" name="password" id="password">
                        <label for="password" class="form-label-login">Password</label>
                    </div>
                    <div class="form-group-login">
                        <input type="checkbox" name="rememberMe" id="rememberMe">
                        <label for="rememberMe">Remember</label>
                    </div>

                    <% if (error.length > 0) { %>
                        <p class="alert alert-danger"><%= error[0] %></p>
                    <% } %>
                    <button class="login-btn login-submit-btn" type="submit">SIGN IN</button>
                </form>
                <div class="separate">
                    <span class="separate-or">OR</span>
                </div>
                <button class="login-btn btn-login-with-gg">
                    <span class="login-with-gg">Sign in with Google</span>
                </button>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/javascripts/main.js"></script>
    <% if (message) { %>
        <script>
            alert('<%= message %>');
        </script>
    <% } %>
</body>
</html>