<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <div class="login-app">
        <div class="login-app-content">
            <div class="wrap-login-img">
                <img src="/images/social-network.svg" alt="" class="login-img">
            </div>
            <div class="login-form">
                <form action="" method="">
                    <h2 class="login-form-heading">Sign in</h2>
                    <div class="form-group">
                        <input type="text" class="form-control" required>
                        <label for="" class="form-label">Username</label>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" required minlength="6">
                        <label for="" class="form-label">Password</label>
                    </div>
                    <button class="login-btn login-submit-btn">Sign in</button>
                </form>
                <div class="separate">
                    <span class="separate-or">OR</span>
                </div>
                <button class="login-btn btn-login-with-gg">
                    <span class="login-with-gg">
                        Sign in with Google
                    </span>
                </button>
            </div>
        </div>
    </div>
</body>
</html>