<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <div class="main-app">
        <%- include('../partials/header.ejs') %>

        <div class="container container-wrap-form-create">
            <div class="wrap-form-create-account">
                <h2 class="form-create-heading">Create Account</h2>
                <form action="/user/storage" method="POST" class="form-create-account">
                    <div class="form-group">
                        <label for="input-create-username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="input-create-username" name="username">
                    </div>
                    <div class="form-group">
                        <label for="input-create-password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="input-create-password" name="password">
                    </div>
                    <div class="form-group">
                        <label for="input-create-name" class="form-label">Name Department</label>
                        <input type="text" class="form-control" id="input-create-name" name="name">
                    </div>
                    <p class="alert alert-danger mt-8 form-message"></p>
                    <button class="btn-submit-create-account" type="button">Create</button>
                </form>
            </div>
        </div>
    </div>

    <script src="/javascripts/main.js"></script>
</body>
</html>